<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <title><ui:insert name="page_title" /></title>

        <!-- if IE -->
        <h:outputText escape="false" value="&lt;!--[if IE]&gt;"/>
        <h:outputScript name="js/html5shiv.js"/>
        <h:outputScript name="js/html5shiv-printshiv.js"/>
        <h:outputText escape="false" value="&lt;![endif]--&gt;"/>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width"/>   
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet library="css" name="bootstrap.css"/>
        <link rel="stylesheet" href="//www.fuelcdn.com/fuelux/3.0.0/css/fuelux.min.css"/>
        <h:outputStylesheet library="css" name="main.css"/>
        <ui:insert name="styles" />
    </h:head>
    <h:body>

        <div class="container"> 

            <div class="row">
                <div id="mainBlock" class="center-block">
                    <ui:include src="header.xhtml" />  
                    <ui:insert name="page_content"/>                    
                    <ui:include src="footer.xhtml" />      
                </div>
            </div>
        </div>


        <!-- Core Javascript - via CDN -->    
        <ui:insert name="insert-jquery" />
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> 
        <script src="//www.fuelcdn.com/fuelux/3.0.0/js/fuelux.min.js"></script>
        <ui:insert name="inserted-js" />
    </h:body>


</html>
