/* CSS Document */

body{
	background-color:#ffffff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #000000;
	margin-top:0px;
}

#footer{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
}

#navcontainer ul{
	padding: 0;
	margin: 0;
	background-color: #669966;
	float: left;
	width: 800px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

#navcontainer ul li { 
	display: inline; 
}

#navcontainer ul li a{
	padding: 3px 8px;
	background-color: #669966;
	color: White;
	text-decoration: none;
	float: left;
	border-right: 1px solid #fff;
}

#navlist li a#currentmenu{
	padding: 3px 8px;
	background-color: #cc6666;
	color: White;
	text-decoration: none;
	float: left;
	border-right: 1px solid #ffffff;
}
#navcontainer ul li a:hover{
	background-color: #99cc99;
	color: #000000;
}


#tabnavlist{
	padding: 5px 0px 3px 10px;
	margin: 0px 0px 0px 10px;
	border-bottom: 1px solid #666666;
	font: bold 15px Arial, Helvetica, sans-serif;
	width:780px;
}

#tabnavlist li{
	list-style: none;
	margin: 0;
	display: inline;
}

#tabnavlist li a{
	padding: 3px 7px 3px 7px;
	margin-left: 5px;
	border-top: 1px solid #333333;
	border-left: 1px solid #333333;
	border-right: 1px solid #333333;
	border-bottom: none;
	background: #d7f0cd;
	text-decoration: none;
}

#tabnavlist li a:link { 
	color: #333333; 
	border-top: 1px solid #333333;
}

#tabnavlist li a:visited { 
	color: #333333; 
	border-top: 1px solid #333333;
}

#tabnavlist li a:hover{
	color: #000000;
	background: #99cc99;
	border-top: 1px solid #333333;
	border-color: #666666;
}

#tabnavlist li a#current{
	background: #ffffff;
	border-top: 1px solid #333333;
	border-bottom: 1px solid #ffffff;
	cursor:n-resize;
}

#tabnavlist li a#disable{
	background: #eeeeee;
	border-top: 1px solid #333333;
	color: #999999;
	cursor:n-resize;
}

table#tab {
	margin: 0px 10px 3px 10px;
	border-width: 0px 1px 1px 1px;
	padding: 1px 5px 1px 5px;
	border-style: inset outset outset inset;
	border-color: #666666;
	background-color: #ffffff;
	width:790px;
}

textarea#courier {
	font-family: "Courier New", Courier, monospace;
	background-color: #EEEEEE;
	font-size: 15px;
	border: 1px solid #669966;
	overflow:auto;
	padding-top: 0px;
	padding-right: 3px;
	padding-bottom: 0px;
	padding-left: 3px;
	text-align: left;
}

table.tab tr {
	border-width: 0px 1px 1px 1px;
	padding: 5px 1px 5px 5px;
	
	border-color: #666666;
	background-color: #eeeeee;
}

.button{
	padding-right:270px;
}
h2 {
	margin: 0px;
	padding-top: 5px;
}
.sub1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
	color: #C65555;
	padding-left: 10px;
}

.sub2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
	color: #C65555;
	
}

ol.nospace {
	margin-top: 0px;
	padding-top: 0px;
}
