<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:composite="http://java.sun.com/jsf/composite"
                xmlns:p="http://primefaces.org/ui"
                xmlns:a4j="http://richfaces.org/a4j">

    <composite:interface>
        <composite:attribute name="navigateNextAction" method-signature="void navigateNext()" required="true" />
        <composite:attribute name="navigatePrevAction" method-signature="void navigatePrev()" required="true" />       
        <composite:attribute name="activeStep" required="true" />
        <composite:attribute name="prevLinkAvailable" default="true" />
        <composite:attribute name="isFinalStep" default="false" />
    </composite:interface>

    <composite:implementation>
        <ul class="steps">
            <li data-step="1" class="#{cc.attrs.activeStep == 'step1' ? 'active' : ''}">
                <span class="badge">1</span>Choose Version<span class="chevron"></span>
            </li>
            <li data-step="2" class="#{cc.attrs.activeStep == 'step2' ? 'active' : ''}">
                <span class="badge">2</span>Choose Probesets<span class="chevron"></span>
            </li>
            <li data-step="3" class="#{cc.attrs.activeStep == 'step3' ? 'active' : ''}">
                <span class="badge">3</span>Choose Microarrays<span class="chevron"></span>
            </li>
            <li data-step="4" class="#{cc.attrs.activeStep == 'step4' ? 'active' : ''}">
                <span class="badge">4</span>Choose Threshold<span class="chevron"></span>
            </li>
            <li data-step="5" class="#{cc.attrs.activeStep == 'step5' ? 'active' : ''}">
                <span class="badge">5</span>Submit<span class="chevron"></span>
            </li>
        </ul>        
        <div class="actions">
            <button type="button" class="btn btn-default #{cc.attrs.prevLinkAvailable ? '' : 'disabled'}" onclick="PF('prevButtonVar').jq.click()">
                <span class="glyphicon glyphicon-arrow-left"/>
                Prev    
            </button>
            <p:commandButton id="prevButton" value="Prev" styleClass="btn btn-default hidden" action="#{cc.attrs.navigatePrevAction}" widgetVar="prevButtonVar" immediate="true">
                <f:ajax event="click" execute="prevButton" immediate="true"/>
            </p:commandButton> 
            <c:choose>
                <c:when test="#{cc.attrs.isFinalStep}">
                    <button type="button" class="btn btn-default" onclick="PF('submitButtonVar').jq.click();
                            return false;">
                        Submit                       
                    </button>
                    <p:commandButton id="submitButton" value="Submit" styleClass="submitButton hidden" action="#{cc.attrs.navigateNextAction}" widgetVar="submitButtonVar" >
                        <f:ajax execute="@all" render="@form" />
                    </p:commandButton> 
                </c:when>
                <c:otherwise>
                    <button type="button" class="btn btn-default" onclick="PF('nextButtonVar').jq.click();">
                        Next
                        <span class="glyphicon glyphicon-arrow-right"/>
                    </button>
                    <p:commandButton id="nextButton" value="Next" styleClass="nextButton hidden" action="#{cc.attrs.navigateNextAction}" widgetVar="nextButtonVar" >
                        <f:ajax execute="@all" render="@form"/>
                    </p:commandButton> 
                </c:otherwise>
            </c:choose>
        </div>
    </composite:implementation>

</ui:composition>