<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:composite="http://java.sun.com/jsf/composite"
                xmlns:p="http://primefaces.org/ui">

    <composite:interface>
       
        <composite:attribute name="isFinalStep" default="false" />
    </composite:interface>

    <composite:implementation>   
        <h:form>
            <p:remoteCommand name="rc" actionListener="#{releaseVersionSelection.execute}" onsuccess="alert('Hello World')"/>
        <p:commandButton value="test" onclick="rc()"/>
        <p:growl id="msgs" showDetail="true" />
        </h:form>
    </composite:implementation>

</ui:composition>