<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"                
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/WEB-INF/templates/mainTemplate.xhtml">

    <ui:define name="page_title">CressExpress Feedback Page</ui:define>
    <ui:define name="page_content">    	
        <h2>Feedback</h2>
        <p>
            We welcome your feedback, comments, and questions. 
        </p>

        <p>
            To report an error or ask a question about specific jobs, contact David
            Norris at dcnorris<img src="images/at.gif" alt="@" width="15" height="18" align="top" />uncc.edu            
        </p>
        <p>
            For questions on tool operation or large-scale data access, please contact
            Ann Loraine at aloraine<img src="images/at.gif" alt="@" width="15" height="18" align="top" />uncc.edu.
        </p>
    </ui:define>

</ui:composition>