<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"                
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/WEB-INF/templates/mainTemplate.xhtml">

    <ui:define name="page_title">CressExpress Home Page</ui:define>
    <ui:define name="page_content">    	
        <h2>About</h2>

        <p>
            Genes that collaborate in a shared function often require simultaneous expression, also called co-expression. 
            By studying how expression patterns vary in concert across hundreds, or even thousands, of expression microarray 
            experiments, we aim to glean new information about gene function in Arabidopsis and other species.
        </p>

        <p>To facilitate our studies of co-expression, we developed an analysis tool, CressExpress for ourselves and others 
            to use. You can run the tool here by clicking the <a href="step1.xhtml">Run the Tool link</a>, and you can also 
            try out one of our <a href="webservice.xhtml">Web services</a>, which offer easy access to expression data in 
            our database. 
        </p>

        <p>You'll find that our site is a bit different from other co-expression tools you may have used. Rather than merely 
            recapitulate what these excellent tools already provide, we prefer to focus on meeting a currently unmet need: delivering data 
            in machine-readable, &quot;bulk&quot; formats suitable for downstream data-mining, visualization, and analysis. 
        </p>

        <p>
            Our philosophy is that desktop tools like <a href="http://www.cytoscape.org/" target="_blank">Cytoscape</a>, 
            <a href="http://www.r-project.org/" target="_blank">R</a>, 
            <a href="http://www.ccgb.umn.edu/software/java/apps/TableView/" target="_blank">TableView</a>, 
            and even Excel offer the most interactive, flexible environments for exploring data and analysis results. 
            But using these tools requires a way to get the &quot;raw&quot; results onto the desktop and out of the Web browser.
            We have put our energies into supporting bulk download of results so that we and our users can take advantage 
            of these and other third-party, desktop software applications.
        </p>

        <p>
            <strong>Please note:</strong> This is an experimental tool and is still under active development. 
            We welcome your <a href="feedback.xhtml">feedback</a>!
        </p>
    </ui:define>

</ui:composition>