<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"                
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/WEB-INF/templates/wizardTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:fn="http://java.sun.com/jsp/jstl/functions"
                xmlns:custom="http://java.sun.com/jsf/composite/custom">


    <ui:define name="step_content"> 
        <h:form>
            <p:commandButton id="exportBtn" value="Download" ajax="false" styleClass="hidden" widgetVar="exportBtnVar" update="experimentsResults @([id$=selectionInfoBlock])">
                <p:fileDownload value="#{microarraySelections.exportSelectionsToFile}" />
            </p:commandButton>
        </h:form>
        <h:form enctype="multipart/form-data">
            <p:dialog header="Import Microarray Selections" widgetVar="fileUploadDialog" minHeight="200">
                <h:outputText value="Select import file" />
                <p:fileUpload value="#{experimentSelection.importFile}" mode="simple" sizeLimit="200000" fileLimit="1" />
                <p:commandButton value="Upload" ajax="false" actionListener="#{experimentSelection.processImportFile}" />
            </p:dialog>

        </h:form>

        <p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />

        <p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
            <p:graphicImage name="ajaxloadingbar.gif" />
        </p:dialog>
        <h:form id="navigationComponentForm">
            <custom:navigationActions id="navigationComponent"
                                      activeStep="step3" 
                                      navigateNextAction="#{experimentSelection.navigateNext}" 
                                      navigatePrevAction="#{experimentSelection.navigatePrev}"      
                                      isFinalStep="false"/>

            <!--  This is a bit of a weird validation hack...
             feel free to improve it if you have a more elegant solution!
            -->
            <h:inputText id="jsfValidationHack" styleClass="hidden">
                <f:validator for="jsfValidationHack" validatorId="microarraySelectionValidator"/>
                <f:attribute name="selectionCount" value="#{microarraySelections.selectionCount}" />
            </h:inputText>

            <h:panelGroup layout="block" rendered="#{not empty facesContext.messageList}">
                <br/>
                <br/>
                <br/>
            </h:panelGroup>
            <h:panelGroup id="messages" layout="block" rendered="#{not empty facesContext.messageList}" styleClass="alert alert-danger">
                <h:messages for="jsfValidationHack"/>
            </h:panelGroup>
        </h:form>
        <h:form id="experimentSelectionForm" onkeypress="return event.keyCode != 13;">
            <div class="step-content">
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading clearfix">
                                <div class="panel-title pull-left">
                                    Search Experiments
                                </div>
                                <div class="pull-right">
                                    <a href="about.xhtml#EXPERIMENTATTRIBUTES">
                                        <img src="images/help.gif" alt="Help" width="59" height="22" border="0" hspace="20" align="bottom" />
                                    </a>
                                </div>

                            </div>
                            <h:panelGroup id="searchInputBlock" layout="block" styleClass="panel-body">
                                <div class="input-group custom-search-form padBottom10">
                                    <p:inputText id="queryInput" value="#{experimentSelection.query}" 
                                                 onkeypress="if (event.keyCode == 13) {
                                                             jQuery('#experimentSelectionForm\\:queryInput').trigger('change');
                                                             return false;
                                                         }" styleClass="form-control queryInput" validatorMessage="Query cannot be empty or contain special characters">
                                        <f:validateRegex pattern="^[ a-zA-Z0-9]+$" />
                                        <p:ajax partialSubmit="true" event="change" update="searchInputBlock experimentsResults"/>
                                        <p:watermark for="queryInput" value="Search experiments by keyword" id="watermark" />
                                    </p:inputText>
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" onclick="jQuery('#experimentSelectionForm\\:queryInput').trigger('change')">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                </div>
                                <h:panelGroup layout="block" id="searchInputValidation" rendered="#{not empty facesContext.messageList}" styleClass="alert alert-danger">
                                    <h:message for="queryInput" />
                                </h:panelGroup>

                                <div class="padTop10">
                                    <h3>OR</h3>
                                    <h:commandButton id="selectAllExperiments" styleClass="btn btn-primary" value="Show All Experiments">
                                        <p:ajax partialSubmit="true" process="selectAllExperiments" listener="#{experimentSelection.selectAllExperiments}" update="experimentsResults queryInput @([id$=selectionInfoBlock])"/>
                                    </h:commandButton>
                                </div>
                            </h:panelGroup>
                        </div>
                    </div>

                    <h:panelGroup id="selectionInfoBlock" layout="block" styleClass="col-md-5 col-md-offset-1">
                        <div class="offer offer-radius offer-info">        
                            <div class="offer-content">      
                                <h2 class="text-center">
                                    Microarray Selections                                    
                                </h2>
                                <h2 class="text-center">
                                    <h:outputText value="#{microarraySelections.selectionCount}"/>
                                </h2>
                                <div class="btn-toolbar select-btn-toolbar text-center">
                                    <button type="button" class="btn btn-sm btn-labeled btn-success" onclick="PF('fileUploadDialog').show();">
                                        <span class="btn-label">
                                            <i class="glyphicon glyphicon-save"></i>
                                        </span>
                                        Import
                                    </button>
                                    <button type="button" class="btn btn-sm btn-labeled btn-success" onclick="PF('exportBtnVar').jq.click()">
                                        <span class="btn-label">
                                            <i class="glyphicon glyphicon-import"></i>
                                        </span>
                                        Export
                                    </button>                                    

                                    <button type="button" class="btn btn-sm btn-labeled btn-danger" onclick="PF('clearAllGlobalBtnVar').jq.click()">
                                        <span class="btn-label">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </span>
                                        Clear
                                    </button>
                                    <p:commandButton id="clearAllGlobalBtn" partialSubmit="true" styleClass="hidden" value="Clear All" widgetVar="clearAllGlobalBtnVar">
                                        <p:ajax partialSubmit="true" process="clearAllGlobalBtn" listener="#{experimentSelection.clearAllSelections}" update="@([id$=experimentSelectAllCheckbox]) @([id$=experimentMicroarrays]) @([id$=selectionInfoBlock])"/>
                                    </p:commandButton>
                                </div>
                            </div>
                        </div>
                    </h:panelGroup>
                </div>



                <h:panelGroup id="experimentsResults" layout="block">   
                    <h:panelGroup id="noResultBlock" rendered="#{empty experimentSelection.matchingExperiments}"  layout="block" styleClass="row" style="padding-top: 40px">
                        <div class="col-md-6">
                            <div class="alert alert-danger">
                                <h3>
                                    No Results found
                                </h3>
                            </div>             
                        </div>
                    </h:panelGroup>


                    <h:panelGroup id="selectExperimentsHeader" rendered="#{not empty experimentSelection.matchingExperiments}"  layout="block" styleClass="row" style="padding-top: 40px">
                        <div class="col-md-6">
                            <p>
                                <strong>Select Experiments</strong>
                                <a href="about.xhtml#EXPERIMENT">
                                    <img src="images/help.gif" alt="Help" width="59" height="22" border="0" hspace="20" align="bottom" />
                                </a>
                            </p>                   
                        </div>
                    </h:panelGroup>
                    <h:panelGroup layout="block" styleClass="row">
                        <h:panelGroup layout="block" rendered="#{not empty experimentSelection.matchingExperiments}" styleClass="col-md-12">
                            <div class="btn-toolbar select-btn-toolbar">
                                <h:commandButton id="selectAllGlobalBtn" styleClass="btn btn-lg" value="Select All Microarrays from All Experiments">
                                    <p:ajax partialSubmit="true" process="selectAllGlobalBtn" listener="#{experimentSelection.selectAllArraysGlobal}" update="experimentsResults @([id$=selectionInfoBlock])"/>
                                </h:commandButton>
                                <h:commandButton id="selectAllMatchingBtn" styleClass="btn btn-lg" value="Select All Microarrays from Search Results">
                                    <p:ajax partialSubmit="true" process="selectAllMatchingBtn" listener="#{experimentSelection.selectAllMatching}" update="experimentsResults @([id$=selectionInfoBlock])"/>
                                </h:commandButton>
                            </div>
                            <p:dataTable id="experimentsTable" var="experiment" value="#{experimentSelection.matchingExperiments}" rows="25" rowKey="#{experiment.id}" rowIndexVar="experimentIndex"
                                         paginator="true"
                                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         rowsPerPageTemplate="25,50,100,200,1000" widgetVar="experimentsTableVar">

                                <p:column styleClass="vcenter text-center" width="65">
                                    <f:facet name="header">
                                        <h:outputText value="Select"  />                                       
                                    </f:facet> 
                                    <h:selectBooleanCheckbox id="experimentSelectAllCheckbox" value="#{experimentSelection.experimentSelectionMap[experiment]}" >
                                        <p:ajax partialSubmit="true" global="false" listener="#{experimentSelection.toggleAddAllMicroarrays(experiment)}" update="@([id$=experimentMicroarrays]) @([id$=selectionInfoBlock])"/>
                                    </h:selectBooleanCheckbox>
                                </p:column>

                                <p:column styleClass="vcenter text-center" width="150" headerText="Experiment Name">
                                    <a target="_blank" href="http://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=#{experiment.name}">
                                        <h:outputText value="#{experiment.name}" />
                                    </a>

                                </p:column>

                                <p:column id="experimentDetailsColumn" styleClass="vcenter text-center" headerText="Experiment Details">
                                    <p:accordionPanel id="experimentDetailsAccordianPanel" activeIndex="null" multiple="true">
                                        <p:tab id="experimentDetailsPanelTab" title="#{experiment.title}">
                                            <h:panelGroup id="experimentMicroarrays" layout="block">
                                                <p:accordionPanel id="experimentSummaryPanel" activeIndex="null" multiple="false" styleClass="padTop10">
                                                    <p:tab id="experimentSummaryTab" title="Experiment Summary">
                                                        <h:outputText value="#{experiment.summary}"/>
                                                    </p:tab>
                                                </p:accordionPanel>
                                                <p:dataTable id="microarrayDetailTable" value="#{experiment.microarraySet}" var="microarray" rowKey="#{microarray.id}" rowIndexVar="index" styleClass="padTop10" selectionMode="single" selection="#{experimentSelection.selectedMicroarray}">
                                                    <p:column headerText="Select" width="65" style="vertical-align: middle;" styleClass="text-center" >                                                        
                                                        <h:selectBooleanCheckbox id="experimentDetailsPanel" value="#{experimentSelection.arraySelectionMap[microarray]}">
                                                            <p:ajax partialSubmit="true" global="false" listener="#{experimentSelection.toggleMicroArraySelection(experiment, microarray)}" update="@([id$=selectionInfoBlock])"/>
                                                        </h:selectBooleanCheckbox>
                                                    </p:column>
                                                    <p:column headerText="GSM ID" width="100" style="vertical-align: middle;" styleClass="text-center">
                                                        <a target="_blank" href="http://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=#{microarray.name}">
                                                            <h:outputText value="#{microarray.name}"/>
                                                        </a>
                                                    </p:column>
                                                    <p:column headerText="GSM Summary" style="vertical-align: middle;" styleClass="text-center">
                                                        <h:panelGrid onclick="$(PrimeFaces.escapeClientId('experimentSelectionForm:experimentsTable:#{experimentIndex}:experimentDetailsAccordianPanel:microarrayDetailTable:#{index}:experimentDetailsPanel')).click()">
                                                            <h:outputText value="#{microarray.summary}"/>
                                                        </h:panelGrid>
                                                    </p:column>
                                                </p:dataTable>                                                
                                            </h:panelGroup>
                                        </p:tab>                                                    
                                    </p:accordionPanel>
                                </p:column>
                            </p:dataTable>

                            <div class="btn-toolbar select-btn-toolbar">
                                <h:commandButton styleClass="btn btn-sm btn-info" value="Select All">
                                    <p:ajax partialSubmit="true" listener="#{experimentSelection.selectAllArrays}" update="experimentsResults @([id$=selectionInfoBlock])"/>
                                </h:commandButton>
                            </div>
                        </h:panelGroup>
                    </h:panelGroup>                   
                </h:panelGroup>  
            </div>
        </h:form>
    </ui:define>
    <ui:define name="additional-js">
        <script type="text/javascript">

        </script>
    </ui:define>

</ui:composition>