<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"                
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/WEB-INF/templates/mainTemplate.xhtml">

    <ui:define name="page_title">CressExpress Visualization Page</ui:define>
    <ui:define name="page_content">    	
        <h2>Visualization</h2>

        <p>
            Visualization plays a key role in data analysis. CressExpress differs
            from other on-line expression analysis systems in that we advise users
            to take advantage of desktop visualization tools to view expression data and
            analysis results, rather than rely on us to know in advance precisely what
            you would need to see in order to understand and interpret the data.
        </p>
        <p>
            To get started, review the following tutorials describing how you might use
            <a href="http://igb.bioviz.org/links.shtml">TableView</a> and
            <a href="http://www.cytoscape.org" target="_blank">Cytoscape</a> to visualize results from
            CressExpress.
        </p>
        <p>
            <b>TableView</b>: <a href="docs/tv_vignette.pdf">Click here</a> for the
            TableView vignette.
        </p>
        <p>
            <b>Cytoscape</b>: <a href="docs/cytoscape_vignette.pdf">Click here</a> for
            directions on using CytoScape to view <a href="./faq.jsp#PLC">Pathway-Level
                Co-expression</a> results.
        </p>
    </ui:define>

</ui:composition>