<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"                
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/WEB-INF/templates/mainTemplate.xhtml"
                >

    <ui:define name="page_title">CressExpress Web Services</ui:define>
    <ui:define name="page_content">    	
        <h2>Web Services</h2>
        <h3 class="sub2">The RESTful Style</h3>
        <p>We provide access to "raw" expression values for ATH1 microarray data in our database via a simple, easy-to-use, RESTful Web service.</p>

        <p>To access the data via this Web service, you just need to know how to formulate URL queries.</p>
        <div class="row">
            <div style="margin-bottom: 1em;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title clearfix">
                            <a data-parent="#main" data-toggle="collapse" href="#apiPanel1"><strong>/webservice</strong></a>
                            <span class="pull-right"></span>
                        </h4>
                    </div>
                    <div class="panel-collapse in" id="apiPanel1" style="height: auto;">
                        <div class="panel-body">
                            <div class="panel-group" id="accordion1">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <div class="panel-title clearfix">
                                            <div class="col-md-2">
                                                <a class="verb collapsed" data-parent="#accordion1" data-toggle="collapse"
                                                   href="#expressionPanel"><span class="label label-info verb">GET</span></a>
                                            </div>
                                            <a class="collapsed" data-parent="#accordion1" data-toggle="collapse"
                                               href="#expressionPanel"><strong>/expressionData</strong></a>
                                            <a class="pull-right collapsed" data-parent="#accordion1" data-toggle="collapse"
                                               href="#expressionPanel"><strong></strong></a>
                                        </div>
                                    </div>
                                    <div class="panel-collapse collapse" id="expressionPanel" style="height: 0px;">
                                        <div class="panel-body">
                                            <h3>Parameters</h3>

                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th width="12%">Parameter</th>

                                                        <th width="7%">Parameter
                                                            Type</th>

                                                        <th width="7%">Data Type</th>

                                                        <th>Description</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    <tr>
                                                        <td>pss</td>

                                                        <td>string</td>

                                                        <td>string</td>

                                                        <td>Probeset Id list comma separated (e.g. pss=251784_at,245213_at,259838_at)</td>
                                                    </tr>
                                                    <tr>
                                                        <td>release</td>

                                                        <td>double</td>

                                                        <td>double</td>

                                                        <td>Currently the only available release is 4.0</td>
                                                    </tr>
                                                    <tr>
                                                        <td>format</td>

                                                        <td>String</td>

                                                        <td>String</td>

                                                        <td>Optional Parameter with accepted Values: json,text. Default is text if not provided.</td>
                                                    </tr>
                                                </tbody>
                                            </table>                                           
                                            <h3>Response Details</h3>
                                            <div>
                                                <span><strong>Response</strong></span>

                                                <table class=
                                                       "table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th width="12%">
                                                                Field</th>

                                                            <th width="5%">
                                                                Required</th>

                                                            <th width="9%">Data
                                                                Type</th>

                                                            <th>Description</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>ExpressionDataList</td>

                                                            <td>true</td>

                                                            <td>
                                                                Array&lt;ExpressionData&gt;</td>

                                                            <td></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <span><strong>ExpressionData</strong></span>
                                                <table class=
                                                       "table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th width="12%">
                                                                Field</th>

                                                            <th width="5%">
                                                                Required</th>

                                                            <th width="9%">Data
                                                                Type</th>

                                                            <th>Description</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>GSM ID</td>

                                                            <td>true</td>

                                                            <td>
                                                                String</td>

                                                            <td>GSM ID</td>
                                                        </tr>
                                                        <tr>
                                                            <td>GSM DESCRIPTION</td>

                                                            <td>true</td>

                                                            <td>
                                                                String</td>

                                                            <td>GSM DESCRIPTION</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Probeset Name</td>

                                                            <td>true</td>

                                                            <td>
                                                                String</td>

                                                            <td>Probeset Name</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Expression Value</td>
                                                            <td>true</td>
                                                            <td>double</td>
                                                            <td>Expression Value</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <h3>Example Request</h3>
                                            <p>
                                                <h:outputLink value="http://test.cressexpress.org/webservice/expressionData">
                                                    <h:outputText value="http://test.cressexpress.org/web/webservice/expressionData?pss=251784_at,245213_at,259838_at&amp;release=4.0&amp;format=json"/>
                                                    <f:param name="pss" value="251784_at, 245213_at, 259838_at"/>
                                                    <f:param name="release" value="4.0"/>
                                                    <f:param name="format" value="json"/>
                                                </h:outputLink>
                                            </p>
                                            <h3>Example Response</h3>                                        
<pre class="prettyprint">{
    "ExpressionData": [
        {
            "245213_at": "12.39",
            "259838_at": "11.79",
            "GSM DESCRIPTION": "Arabidopsis (WT) leaves - control (5 d)",
            "GSM ID": "GSM1074839",
            "251784_at": "10.17"
        },
        {
            "245213_at": "12.39",
            "259838_at": "11.37",
            "GSM DESCRIPTION": "Arabidopsis (WT) leaves - control (1 d)",
            "GSM ID": "GSM1074838",
            "251784_at": "10.58"
        }
...
    ]
}</pre>                                         
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <div class="panel-title clearfix">
                                            <div class="col-md-2">
                                                <a class="verb collapsed" data-parent="#accordion9" data-toggle="collapse"
                                                   href="#agiPanel"><span class="label label-info verb">GET</span></a>
                                            </div>
                                            <a class="collapsed" data-parent="#accordion9" data-toggle="collapse"
                                               href="#agiPanel"><strong>/agiToProbeset</strong></a>
                                            <a class="pull-right collapsed" data-parent="#accordion9" data-toggle="collapse"
                                               href="#agiPanel"><strong></strong></a>
                                        </div>
                                    </div>
                                    <div class="panel-collapse collapse" id="agiPanel" style="height: 0px;">
                                        <div class="panel-body">
                                            <h3>Parameters</h3>

                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th width="12%">Parameter</th>

                                                        <th width="7%">Parameter
                                                            Type</th>

                                                        <th width="7%">Data Type</th>

                                                        <th>Description</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    <tr>
                                                        <td>agi</td>

                                                        <td>string</td>

                                                        <td>string</td>

                                                        <td>Arabidopsis Gene Identifier</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <h3>Response Details</h3>
                                            <div>
                                                <span><strong>Response</strong></span>

                                                <table class=
                                                       "table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th width="12%">
                                                                Field</th>

                                                            <th width="5%">
                                                                Required</th>

                                                            <th width="9%">Data
                                                                Type</th>

                                                            <th>Description</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>ProbesetList</td>

                                                            <td>true</td>

                                                            <td>
                                                                Array&lt;Probeset&gt;</td>

                                                            <td></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <span><strong>Probeset</strong></span>
                                                <table class=
                                                       "table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th width="12%">
                                                                Field</th>

                                                            <th width="5%">
                                                                Required</th>

                                                            <th width="9%">Data
                                                                Type</th>

                                                            <th>Description</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Probeset Name</td>

                                                            <td>true</td>

                                                            <td>
                                                                String</td>

                                                            <td>Probeset Identifier</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <h3>Example Request</h3>
                                            <p>
                                                <h:outputLink value="http://test.cressexpress.org/webservice/agiToProbeset">
                                                    <h:outputText value="http://test.cressexpress.org/web/webservice/agiToProbeset?agi=AT1G44575"/>
                                                    <f:param name="agi" value="AT1G44575"/>
                                                </h:outputLink>
                                            </p>
                                            <h3>Example Response</h3>
                                            <p>
                                                <pre class="prettyprint">{"ProbesetList":[{"probeset":"245213_at"}]}</pre>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ui:define>
    <ui:define name="insert-jquery">
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"/>
        <script src="//cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.js"/>
    </ui:define>
</ui:composition>