<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"                
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="mainTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="page_title">CressExpress</ui:define>
    <ui:define name="styles">
        <link rel="stylesheet" href="//www.fuelcdn.com/fuelux/3.0.0/css/fuelux.min.css"/>
    </ui:define>
    <ui:define name="page_content">    	
        <h:form>
            <h2>Run CressExpress Tool</h2>
            <div class="fuelux">
                <div class="wizard" data-initialize="wizard" id="myWizard">
                    <ul class="steps">
                        <li data-step="1"><span class="badge">1</span>Version Selection<span class="chevron"></span></li>
                        <li data-step="2" class="active"><span class="badge">2</span>Gene/Probeset Selection<span class="chevron"></span></li>
                        <li data-step="3"><span class="badge">3</span>Microarray Selection<span class="chevron"></span></li>
                        <li data-step="4"><span class="badge">4</span>Threshold Selection<span class="chevron"></span></li>
                        <li data-step="5"><span class="badge">5</span>Submit<span class="chevron"></span></li>
                    </ul>
                    <div class="actions">
                        <button type="button" class="btn btn-default btn-prev">
                            <span class="glyphicon glyphicon-arrow-left"/>
                            Prev
                        </button>
                        <button type="button" class="btn btn-default" onclick="navigate()" data-last="Submit">
                            Next
                            <span class="glyphicon glyphicon-arrow-right"/>
                        </button>
                    </div>
                    <div class="step-content">
                        <div class="step-pane active sample-pane alert" data-step="1">
                            <div class="row">
                                <div class="col-md-6">
                                    <p>
                                        <strong>Choose a starting point</strong>
                                        <a href="about.xhtml#DATARELEASE">
                                            <img src="images/help.gif" alt="Help" width="59" height="22" border="0" hspace="20" align="bottom" />
                                        </a>
                                    </p>
                                </div>
                            </div>

                            <h:panelGroup layout="block" styleClass="row">
                                <div class="col-md-6">
                                    <h:selectOneRadio id="versionSelectOne" value="${releaseVersionSelection.selectedVersion}" styleClass="inlineRadioButtons">
                                        <ui:repeat value="#{releaseVersionSelection.availableVersions}" var="version">
                                            <f:selectItem itemValue="#{version}" itemLabel="#{releaseVersionSelection.getVersionLabel(version)}"/>
                                        </ui:repeat>
                                        <f:ajax execute="versionSelectOne" />
                                    </h:selectOneRadio>
                                </div>
                            </h:panelGroup>
                        </div>
                        <div class="step-pane sample-pane bg-info alert" data-step="2">


                            <div class="row">
                                <div class="col-md-6">
                                    <p>
                                        <strong>Select input ID type</strong>
                                        <a href="about.xhtml#IDS">
                                            <img src="images/help.gif" alt="Help" width="59" height="22" border="0" hspace="30" align="bottom" />
                                        </a>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <h:selectOneRadio id="inputTypeSelection" value="${geneSelection.idType}">
                                        <f:selectItems value="#{geneSelection.idTypeValues}" var="idType" itemValue="#{idType}" itemLabel="#{idType.label}"/>
                                        <f:ajax execute="inputTypeSelection"/>
                                    </h:selectOneRadio>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    Enter a list of AGI (Arabidopsis Genome Initiative) IDs or Affymetrix probe set IDs.
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <b>(Maximum #{geneSelection.maxInputSize})</b>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <p:messages id="msgs" />
                                </div>
                                <div class="col-md-6">
                                    <p:inputTextarea id="geneSelectionTextArea" rows="10" cols="50" completeMethod="#{geneSelection.autoComplete}" 
                                                     queryDelay="750" minQueryLength="4" value="#{geneSelection.geneInput}" onkeyup="updateIdCount()"
                                                     validator="#{geneSelection.validateUserInput}" autoResize="false">
                                    </p:inputTextarea>
                                    <div class="wordCount text-uppercase">
                                        <strong><span></span></strong>
                                    </div>
                                </div>
                            </div> 
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label>Use gene to probeset mapping from</label>
                                    <h:selectOneMenu id="matchMethodSelection" value="#{geneSelection.selectedMatchMethod}" converter="matchMethodConverter" styleClass="form-control">
                                        <f:selectItems value="#{geneSelection.matchMethodOptions}" var="method" itemValue="#{method}" itemLabel="#{method.name}"/>  
                                        <f:ajax execute="matchMethodSelection" />
                                    </h:selectOneMenu>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    NOTE: List can be comma, space, or tab-delimited
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <em>
                                        Example: AT1G69680, AT1G44575, AT1G52220, AT1G56145 or 251784_at, 245213_at, 259838_at, 262093_at
                                    </em>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="step-pane sample-pane bg-danger alert" data-step="3">
                        <ui:insert name="page3"/>
                    </div>
                </div>
            </div>
            </div>

        </h:form>
    </ui:define>

    <ui:define name="insert-jquery">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
    </ui:define>
    <ui:define name="inserted-js">
        <script src="//www.fuelcdn.com/fuelux/3.0.0/js/fuelux.min.js"></script>
        <script type="text/javascript">
                                                         function navigate() {
                                                             //dosomething
                                                             $('#myWizard').wizard('next');

                                                         }

                                                         function updateIdCount() {
                                                             var maxWords = 30;
                                                             var $this, wordcount;
                                                             $this = jQuery('textarea');
                                                             wordcount = $this.val().split(/[\W]+/).length;
                                                             if (wordcount > maxWords) {
                                                                 jQuery(".wordCount strong span").text(wordcount + " / " + maxWords + " IDs");
                                                                 alert("You've reached the maximum allowed IDs.");
                                                                 return false;
                                                             } else {
                                                                 return jQuery(".wordCount strong span").text(wordcount + " / " + maxWords + " IDs");
                                                         }


        </script>
    </ui:define>

</ui:composition>